<!-- <div id="mian">
    <button id="slideButton">
        Rozwiń listę 
    </button>
</div> -->
<!-- 
<div class="frame">
    <div class="content">
        <ul>
            <li>jeden</li>
            <li>dwa</li>
            <li>trzy</li>
            <li>cztery</li>
            <li>pięć</li>
        </ul>
        <button>Rozwiń</button>
    </div>
</div> -->

<!-- <div class="content">
    <button>Click me</button>

    <ul>
        <li>tajk</li>
        <li>tajk</li>
        <li>tajk</li>
    </ul>
</div> -->

<div class="wrap-collabsible"> 
    <input id="collapsible2" class="toggle" type="checkbox" checked=""> 
    <label for="collapsible2" class="lbl-toggle">Legenda stref</label>
    
    <div class="collapsible-content">
        <div class="content-inner">
            <ul class="legend">
                <li class="box">
                    <div class="box__text">Tak</div>
                    <div class="box__icon"> +</div>
                </li>
            
                <li class="box">
                    <div class="box__text">Tak</div>
                    <div class="box__icon"> +</div>
                </li>
            
                <li class="box">
                    <div class="box__text">Tak</div>
                    <div class="box__icon"> +</div>
                </li>
            
                <li class="box">
                    <div class="box__text">Tak</div>
                    <div class="box__icon"> +</div>
                </li>
            
            </ul>
    </div>
</div>
</div>