<div class="wrap-collabsible"> 
    <input id="collapsible2" class="toggle" type="checkbox" checked=""> 
    <label for="collapsible2" class="lbl-toggle">Legenda stref</label>
    
    <div class="collapsible-content">
        <div class="content-inner">
            <ul class="legend">
                <li class="box">
                    <div class="box__text">Przepływ nieznany</div>
                    <img src="../../assets/icons/greey.png" alt="">
                </li>

                <li class="box">
                    <div class="box__text">Przepływ - SUW/ZUW</div>
                    <img src="../../assets/icons/green.png" alt="">
                </li>

                <li class="box">
                    <div class="box__text">Przepływ - zbiornik</div>
                    <img src="../../assets/icons/orange.png" alt="">
                </li>
                <li class="box">
                    <div class="box__text">Przepływ międzystrefowy</div>
                    <img src="../../assets/icons/darkBlue.png" alt="">
                </li>
                <li class="box">
                    <div class="box__text">Sprzedaż - Online</div>
                    <img src="../../assets/icons/blue.png" alt="">
                </li>
                <li class="box">
                    <div class="box__text">Sprzedaż - odczyt co 12h</div>
                    <img src="../../assets/icons/purple.png" alt="">
                </li>
            
                <li class="box">
                    <div class="box__text">Sprzedaż - odczyt ręczny</div>
                    <img src="../../assets/icons/brown.png" alt="">
                </li>
    
                <li class="box">
                    <div class="box__text">Przepływ wirtualny</div>
                    <img src="../../assets/icons/black.png" alt="">
                </li>
              
            </ul>
    </div>
</div>
</div>