@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}